<div class="container-fluid pr-0 animated fadeIn mb-3 mt-5">
  <main class="_main system-setup">
    <div class="col-12">
      <h3>System Setup</h3>
    </div>
    <div class="col-12 mt-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore:</p>
    </div>

    <div class="col-12 mt-3">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabs-global" role="tab">Activate Global Hierarchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-location" role="tab">Location Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-other" role="tab">Other Attributes</a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tabs-global" role="tabpanel">
          <app-active-global></app-active-global>
        </div>
        <div class="tab-pane" id="tabs-location" role="tabpanel">
          <p>Location Configuration</p>
        </div>
        <div class="tab-pane" id="tabs-other" role="tabpanel">
          <p>Other Attributes</p>
        </div>
      </div>
    </div>
  </main>

</div>
