
<div class="top_header _main mt-5">
<ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Standard Content Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">System Setup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">User Access</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">Local Contacts</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tabs-1" role="tabpanel">
          <div class="container-fluid pr-0 animated fadeIn mb-3 mt-5">
            <main>
              <div class="col-12">
                <h3>Administration</h3>
              </div>
              <div class="col-12 mt-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore:</p>
              </div> 
              <div class="row col-12 mt-5 p-l-r-30">
                <div class="col-3">
                  <div class="tile" (click)="redirectStandardContent()">
                    <div class="text-center mb-3">
                      <span class="material-icons mat-icons">description</span>
                    </div>
                  
                    <h6 class="text-center font-weight-bold mb-3">Standard Content Categories</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  </div>
                  </div>

                  <div class="col-3">
                    <div class="tile" (click)="redirectSystemSetup()">
                      <div class="text-center mb-3">
                        <span class="material-icons mat-icons">settings</span>
                      </div>
                    
                      <h6 class="text-center font-weight-bold mb-3">System Setup</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    </div>

                    <div class="col-3">
                      <div class="tile" (click)="redirectUserAccess()">
                        <div class="text-center mb-3">
                          <span class="material-icons mat-icons">lock</span>
                        </div>
                        <h6 class="text-center font-weight-bold mb-3">User Access</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                      </div>

                      <div class="col-3">
                        <div class="tile">
                          <div class="text-center mb-3">
                            <span class="material-icons mat-icons">account_circle</span>
                          </div>
                        
                          <h6 class="text-center font-weight-bold mb-3">Local Contacts</h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        </div>
              </div>
            </main>
          </div>

        </div>
        <div class="tab-pane" id="tabs-2" role="tabpanel">
         <app-standard-content-landing></app-standard-content-landing>
        </div>
        <div class="tab-pane" id="tabs-3" role="tabpanel">
          <app-system-setup-landing></app-system-setup-landing>
        </div>

        <div class="tab-pane" id="tabs-4" role="tabpanel">
         <app-admin-user-access></app-admin-user-access>
        </div>
        <div class="tab-pane" id="tabs-5" role="tabpanel">
          <p>Local Contacts</p>
        </div>
      </div> 
</div>


