<div class="col-12 px-0 _center">
    <div class="container-fluid col-10 mt-5 global">
  <main class="_main">
      <table class="table table-sm table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">SL Code</th>
            <th scope="col">Service Line</th>
            <th scope="col">SSL Code</th>
            <th scope="col">Sub Service Line</th>
            <th scope="col">Competency Code</th>
            <th scope="col">Competency</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="mb-0">456</p>
            </td>
            <td>
              <p class="mb-0">Tax</p>
            </td>
            <td>
                <p class="mb-0">456</p>
              </td>
              <td>
                <p class="mb-0">ITTS - International Tax Advisory</p>
              </td>
              <td>
                <p class="mb-0">456</p>
              </td>
              <td>
                <p class="mb-0">Digital & Emerging Technologies</p>
              </td>
              <td>
                <p class="mb-0">ACTIVE</p>
              </td>
            <td class="nowrap">
              <button class="btn">
                <span class="material-icons btn-19">edit</span>
              </button>
              <button class="btn p-1">
                <span class="material-icons text-red btn-19">cancel</span>
              </button>
  
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-0">456</p>
            </td>
              <td>
                <p class="mb-0">Strategy and Transactions</p>
              </td>
              <td>
                <p class="mb-0">456</p>
              </td>
              <td>
                <p class="mb-0">Tax</p>
              </td>
              <td>
                <p class="mb-0">456</p>
              </td>
              <td>
                  <p class="mb-0">Transaction Strategy and Execution</p>
              </td>
              <td>
                <p class="mb-0">ACTIVE</p>
              </td>
            <td class="nowrap">
              <button class="btn ">
                <span class="material-icons btn-19">edit</span>
              </button>
              <button class="btn p-1">
                <span class="material-icons text-red btn-19">cancel</span>
              </button>
  
            </td>
          </tr>
      </table>
    </main>
    </div>
  </div>
  