@import "../../../../../../../stylesheets/abstracts/variable";
@import "../../../../../../../stylesheets/base/base_form";
.published {
    font-family: $EYInterstate-Bold;
    & .material-icons {
        font-size: 1.2rem !important;
        padding-right: 5px;
    }
}

.btn-green {
    background: $green2-color;
    color: $white-color;
    font-size: .875rem;
    font-family: $EYInterstate-Bold;
    & .material-icons {
        font-size: 1.2rem !important;
        padding-right: 5px;
    }
    &:hover {
        background-color: $green-color;
    }
    &.btn:disabled {
        color: $grey5-color !important;
        background: $grey4-color !important;
    }
}