<div class="col-12 p-0">
    <app-loading [show]="loading"></app-loading>
    <p class="box-buttons mb-0 text-right" *ngIf="!loading">
        <button class="btn btn-link" (click)="showAll('show')" type="button" *ngIf="showHideButton">Show all</button>
        <button class="btn btn-link" (click)="showAll('hide')" type="button" *ngIf="!showHideButton">Hide all</button>
    </p>
    <mat-tree *ngIf="!loading" class="greyBackground" [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- children of main node -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <div class="row country-textarea">
                <mat-checkbox class="checklist-leaf-node" [checked]="node.selected" [disabled]="true">{{node.name}}</mat-checkbox>
                <div class="col-12 pt-2 px-0" *ngIf="node.selected">
                    <div class="form-group">
                        <label for="guidance-text">{{placeholderCountry}}</label>
                        <textarea class="form-control" rows="2" (keypress)="omitSpecialChar($event)" (input)="updateText(node.level, node.name, $event.target)">{{node.text ? node.text: ''}}</textarea>
                    </div>
                </div>
            </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="parentNode">
            <!-- icon button, main node -->
            <div class="box_item">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="btn-tree btn-margin_top">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
                    </mat-icon>
            </button>
                <mat-checkbox class="checklist-leaf-node" [indeterminate]="descendantsPartiallySelected(node)" [checked]="node.selected" [disabled]="true" *ngIf="node.level !== 1">
                    {{node.name}}
                </mat-checkbox>
                <span *ngIf="node.level === 1" class="area-label">{{node.name}}</span>
                <!-- Label Area level -->
                <div class="col-12 pt-2" *ngIf="(node.level === 2 && node.selected) || (descendantsPartiallySelected(node) === true && !node.selected && node.level === 2 )">
                    <div class="form-group">
                        <label for="guidance-text">{{placeholderRegion}}</label>
                        <textarea class="form-control" rows="2" (keypress)="omitSpecialChar($event)" (input)="updateText(node.level, node.name, $event.target)">{{node.text ? node.text: ''}}</textarea>
                    </div>
                </div>
            </div>
        </mat-tree-node>
    </mat-tree>
</div>