@import "../../../../../../../stylesheets/abstracts/variable";
@import "../../../../../../../stylesheets/base/base_form";
.location-tree {
    min-height: 258px;
}

.min-height {
    min-height: 400px;
}

::ng-deep .mat-icon-button.btn-tree {
    border: 1px solid $dark-color !important;
    border-radius: 0!important;
    margin-right: 4px !important;
    width: 15px !important;
    height: 15px !important;
    line-height: 16px !important;
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem transparent;
    }
    & .mat-icon {
        line-height: 13px !important;
        height: 17px;
        width: 14px;
    }
    & .material-icons {
        font-size: .75rem;
    }
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $dark-color !important;
}

::ng-deep .mat-tree-node {
    min-height: 30px !important;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    font-family: $EYInterstate-Light;
    font-size: .75rem;
}