<div class="container-fluid pr-0 animated fadeIn mb-3 mt-5" *ngIf="active">
    <main *ngIf="IdService !== 0">
        <div class="col-12 px-0">
            <h3>Locations Offered</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore:</p>
        </div>
        <div class="col-12 mb-2 px-0 location-tree">
            <app-loading [show]="loadingResult"></app-loading>
            <mat-tree *ngIf="!loadingResult" class="greyBackground" [dataSource]="dataSource" [treeControl]="treeControl" [disabled]="this.readonly">
                <!-- children of main node -->
                <mat-tree-node *matTreeNodeDef="let node" [disabled]="this.readonly" matTreeNodePadding>
                    <mat-checkbox class="checklist-leaf-node" [checked]="node.selected" (change)="allItemSelectionToggle(node)" [disabled]="this.readonly">{{node.name}}</mat-checkbox>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" [disabled]="this.readonly" matTreeNodePadding>
                    <!-- icon button, main node -->
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="btn-tree">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
                        </mat-icon>
                </button>
                    <mat-checkbox class="checklist-leaf-node" [indeterminate]="descendantsPartiallySelected(node)" [checked]="node.selected" (change)="allItemSelectionToggle(node)" [disabled]="this.readonly">
                        {{node.name}}
                    </mat-checkbox>
                </mat-tree-node>
            </mat-tree>
        </div>
        <hr>
        <div class="col-12">
            <div class="row">
                <div class="col-6 form-button">
                    <button type="button" class="col-4 py-2 btn float-left btn-outline-dark" (click)="cancel()" [disabled]="this.readonly">Cancel</button>
                </div>
                <div class="col-6 form-button">
                    <button class="col-4 py-2 btn float-right btn-warning" type="button"  (click)="submit('save')" [disabled]="this.readonly">Save</button>
                    <button class="col-4 py-2 mr-1 btn float-right btn-warning" type="button" (click)="submit('confirm')" [disabled]="this.readonly">Confirm</button>
                </div>
            </div>
        </div>
    </main>
    <div *ngIf="IdService === 0" class="col-12 d-flex align-items-center justify-content-center min-height">
        <h5>You need to create a record in Service Details.</h5>
    </div>
</div>
