<div class="container-fluid pr-0 animated fadeIn mb-3 mt-5">
  <main class="_main standard-content">
    <div class="col-12">
      <h3>Standard Content Categories</h3>
    </div>
    <div class="col-12 mt-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore:</p>
    </div>

    <div class="col-12 mt-3">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabs-one" role="tab">Form of Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-two" role="tab">Independence Considerations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-three" role="tab">Conflicts Considerations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-four" role="tab">Other Considerations</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tabs-one" role="tabpanel">
          <app-standard-delivery></app-standard-delivery>
        </div>
        <div class="tab-pane" id="tabs-two" role="tabpanel">
          <app-standard-considerations></app-standard-considerations>
        </div>
        <div class="tab-pane" id="tabs-three" role="tabpanel">
          <p>Conflicts Considerations</p>
        </div>
        <div class="tab-pane" id="tabs-four" role="tabpanel">
          <p>Other Considerations</p>
        </div>
      </div>
    </div>
  </main>

</div>
