@import "../../../../../stylesheets/abstracts/variable";
@import "../../../../../stylesheets/abstracts/placeholder";



h1 {
  font-size: 18px !important;
  font-weight: bold !important;
  font-family: 'Calibri', 'Calibri', Calibri, 'Calibri', sans-serif;
}
