/* Colors */

$black-color:#1A1A24;
$dark-color: #2E2E38;
$dark2-color: #282831;
$dark3-color: #2E2E3C;
$greyLight-color:#F6F6FA;
$grey1-color:#747480;
$grey2-color:#EBEBEE;
$grey3-color: #ECECEF;
$grey4-color:rgba(196, 196, 205, 0.55);
$grey5-color:#c4c4cd;
$grey6-color:rgba(235, 235, 238, 0.2);
$grey7-color: #ced4da;
$grey8-color: #dee2e6;
$grey9-color:#2e2e38f5;
$grey10-color:#212529;
$grey11-color: #E7E7EA;
$yellow-color: #FFE600;
$white-color:#fff;
$green-color:#2DB757;
$green2-color:#168736;
$orange-color:#FF9B31;
$red-color:#E0362C;

/* size Fonts */

$default-font:16px;

/* queries */

$break-small:768px;
$break-medium:991px;
$break-large:1240px;

/* Fonts */

$noto-sans:'Noto Sans';
$EYInterstate-Light: 'EYFontLight',
"Noto Sans",
Arial,
sans-serif;
$EYInterstate-Regular: 'EYFontRegular';
$EYInterstate-Bold: 'EYFontBold';